{% if site.category_sidebar %}
<section>
<h1>分類</h1>
<ul>
  <li><a href='/blog/categories/'> (36)</a></li>
  <li><a href='/blog/categories/algorithm'>Algorithm (32)</a></li>
  <li><a href='/blog/categories/android'>Android (11)</a></li>
  <li><a href='/blog/categories/api'>Api (1)</a></li>
  <li><a href='/blog/categories/architecture'>Architecture (9)</a></li>
  <li><a href='/blog/categories/asterisk'>Asterisk (4)</a></li>
  <li><a href='/blog/categories/atom'>Atom (1)</a></li>
  <li><a href='/blog/categories/bdd'>Bdd (1)</a></li>
  <li><a href='/blog/categories/book-lists'>Book lists (14)</a></li>
  <li><a href='/blog/categories/browserchannel'>Browserchannel (1)</a></li>
  <li><a href='/blog/categories/c'>C (1)</a></li>
  <li><a href='/blog/categories/c-'>C++ (1)</a></li>
  <li><a href='/blog/categories/cdn'>Cdn (1)</a></li>
  <li><a href='/blog/categories/chocolatey'>Chocolatey (1)</a></li>
  <li><a href='/blog/categories/conference'>Conference (10)</a></li>
  <li><a href='/blog/categories/continuous-integration'>Continuous integration (2)</a></li>
  <li><a href='/blog/categories/css'>Css (6)</a></li>
  <li><a href='/blog/categories/data-analysis'>Data analysis (2)</a></li>
  <li><a href='/blog/categories/deep-learning'>Deep learning (5)</a></li>
  <li><a href='/blog/categories/design-pattern'>Design pattern (2)</a></li>
  <li><a href='/blog/categories/distributed-system'>Distributed system (2)</a></li>
  <li><a href='/blog/categories/docker'>Docker (9)</a></li>
  <li><a href='/blog/categories/erlang'>Erlang (6)</a></li>
  <li><a href='/blog/categories/firefox-os'>Firefox os (1)</a></li>
  <li><a href='/blog/categories/fluentd'>Fluentd (1)</a></li>
  <li><a href='/blog/categories/frontend'>Frontend (10)</a></li>
  <li><a href='/blog/categories/function-language'>Function language (1)</a></li>
  <li><a href='/blog/categories/git'>Git (17)</a></li>
  <li><a href='/blog/categories/golang'>Golang (6)</a></li>
  <li><a href='/blog/categories/graph-database'>Graph database (2)</a></li>
  <li><a href='/blog/categories/gulp'>Gulp (1)</a></li>
  <li><a href='/blog/categories/hadoop'>Hadoop (2)</a></li>
  <li><a href='/blog/categories/html5'>Html5 (2)</a></li>
  <li><a href='/blog/categories/information-retrieval'>Information retrieval (1)</a></li>
  <li><a href='/blog/categories/javascript'>Javascript (23)</a></li>
  <li><a href='/blog/categories/jdk'>Jdk (2)</a></li>
  <li><a href='/blog/categories/jquery'>Jquery (2)</a></li>
  <li><a href='/blog/categories/line'>Line (6)</a></li>
  <li><a href='/blog/categories/linux'>Linux (28)</a></li>
  <li><a href='/blog/categories/lucene'>Lucene (1)</a></li>
  <li><a href='/blog/categories/machine-learning'>Machine learning (4)</a></li>
  <li><a href='/blog/categories/mariadb'>Mariadb (2)</a></li>
  <li><a href='/blog/categories/markdown'>Markdown (2)</a></li>
  <li><a href='/blog/categories/memcached'>Memcached (11)</a></li>
  <li><a href='/blog/categories/mobile'>Mobile (1)</a></li>
  <li><a href='/blog/categories/mozilla'>Mozilla (4)</a></li>
  <li><a href='/blog/categories/mqtt'>Mqtt (6)</a></li>
  <li><a href='/blog/categories/mysql'>Mysql (12)</a></li>
  <li><a href='/blog/categories/nginx'>Nginx (12)</a></li>
  <li><a href='/blog/categories/nlp'>Nlp (11)</a></li>
  <li><a href='/blog/categories/nodejs'>Nodejs (23)</a></li>
  <li><a href='/blog/categories/nosql'>Nosql (4)</a></li>
  <li><a href='/blog/categories/oauth'>Oauth (1)</a></li>
  <li><a href='/blog/categories/open-source'>Open source (13)</a></li>
  <li><a href='/blog/categories/opencv'>Opencv (3)</a></li>
  <li><a href='/blog/categories/openstack'>Openstack (3)</a></li>
  <li><a href='/blog/categories/oracle'>Oracle (1)</a></li>
  <li><a href='/blog/categories/php'>Php (29)</a></li>
  <li><a href='/blog/categories/project-management'>Project management (4)</a></li>
  <li><a href='/blog/categories/python'>Python (9)</a></li>
  <li><a href='/blog/categories/queue'>Queue (3)</a></li>
  <li><a href='/blog/categories/rabbitmq'>Rabbitmq (6)</a></li>
  <li><a href='/blog/categories/redis'>Redis (11)</a></li>
  <li><a href='/blog/categories/ruby'>Ruby (1)</a></li>
  <li><a href='/blog/categories/schedule'>Schedule (1)</a></li>
  <li><a href='/blog/categories/scrapy'>Scrapy (1)</a></li>
  <li><a href='/blog/categories/sdn'>Sdn (1)</a></li>
  <li><a href='/blog/categories/sdr'>Sdr (2)</a></li>
  <li><a href='/blog/categories/search-engine'>Search engine (7)</a></li>
  <li><a href='/blog/categories/server'>Server (1)</a></li>
  <li><a href='/blog/categories/sip'>Sip (7)</a></li>
  <li><a href='/blog/categories/snort'>Snort (1)</a></li>
  <li><a href='/blog/categories/social-physics'>Social physics (1)</a></li>
  <li><a href='/blog/categories/socketio'>Socketio (7)</a></li>
  <li><a href='/blog/categories/solr'>Solr (2)</a></li>
  <li><a href='/blog/categories/sql'>Sql (2)</a></li>
  <li><a href='/blog/categories/sublime-text'>Sublime-text (3)</a></li>
  <li><a href='/blog/categories/theano'>Theano (1)</a></li>
  <li><a href='/blog/categories/ui'>Ui (1)</a></li>
  <li><a href='/blog/categories/ux'>Ux (1)</a></li>
  <li><a href='/blog/categories/vargrant'>Vargrant (1)</a></li>
  <li><a href='/blog/categories/vim'>Vim (2)</a></li>
  <li><a href='/blog/categories/voip'>Voip (1)</a></li>
  <li><a href='/blog/categories/webrtc'>Webrtc (1)</a></li>
  <li><a href='/blog/categories/zookeeper'>Zookeeper (1)</a></li>
</ul>
</section>
{% endif %}
