{% if site.category_sidebar %}
<section>
<h1>分類</h1>
<ul>
  <li><a href='/blog/categories/algorithm'>Algorithm (9)</a></li>
  <li><a href='/blog/categories/android'>Android (3)</a></li>
  <li><a href='/blog/categories/astreisk'>Astreisk (1)</a></li>
  <li><a href='/blog/categories/book-lists'>Book lists (6)</a></li>
  <li><a href='/blog/categories/browserchannel'>Browserchannel (1)</a></li>
  <li><a href='/blog/categories/celery'>Celery (1)</a></li>
  <li><a href='/blog/categories/continuous-integration'>Continuous integration (2)</a></li>
  <li><a href='/blog/categories/data-analysis'>Data analysis (1)</a></li>
  <li><a href='/blog/categories/deep-learning'>Deep-learning (2)</a></li>
  <li><a href='/blog/categories/design-pattern'>Design pattern (1)</a></li>
  <li><a href='/blog/categories/erlang'>Erlang (2)</a></li>
  <li><a href='/blog/categories/firefox-os'>Firefox os (1)</a></li>
  <li><a href='/blog/categories/frontend'>Frontend (1)</a></li>
  <li><a href='/blog/categories/function-language'>Function language (1)</a></li>
  <li><a href='/blog/categories/git'>Git (8)</a></li>
  <li><a href='/blog/categories/hadoop'>Hadoop (1)</a></li>
  <li><a href='/blog/categories/html5'>Html5 (2)</a></li>
  <li><a href='/blog/categories/information-retrieval'>Information retrieval (1)</a></li>
  <li><a href='/blog/categories/javascript'>Javascript (10)</a></li>
  <li><a href='/blog/categories/jquery'>Jquery (1)</a></li>
  <li><a href='/blog/categories/jquery'>Jquery (1)</a></li>
  <li><a href='/blog/categories/less'>Less (1)</a></li>
  <li><a href='/blog/categories/line'>Line (1)</a></li>
  <li><a href='/blog/categories/linux'>Linux (2)</a></li>
  <li><a href='/blog/categories/lucene'>Lucene (1)</a></li>
  <li><a href='/blog/categories/machine-learning'>Machine learning (3)</a></li>
  <li><a href='/blog/categories/markdown'>Markdown (1)</a></li>
  <li><a href='/blog/categories/memcached'>Memcached (3)</a></li>
  <li><a href='/blog/categories/mozilla'>Mozilla (1)</a></li>
  <li><a href='/blog/categories/mqtt'>Mqtt (5)</a></li>
  <li><a href='/blog/categories/mysql'>Mysql (5)</a></li>
  <li><a href='/blog/categories/nginx'>Nginx (2)</a></li>
  <li><a href='/blog/categories/nlp'>Nlp (10)</a></li>
  <li><a href='/blog/categories/nodejs'>Nodejs (18)</a></li>
  <li><a href='/blog/categories/nosql'>Nosql (4)</a></li>
  <li><a href='/blog/categories/open-source'>Open source (7)</a></li>
  <li><a href='/blog/categories/php'>Php (2)</a></li>
  <li><a href='/blog/categories/php'>Php (7)</a></li>
  <li><a href='/blog/categories/project-management'>Project management (1)</a></li>
  <li><a href='/blog/categories/python'>Python (4)</a></li>
  <li><a href='/blog/categories/rabbitmq'>Rabbitmq (5)</a></li>
  <li><a href='/blog/categories/redis'>Redis (3)</a></li>
  <li><a href='/blog/categories/ruby'>Ruby (1)</a></li>
  <li><a href='/blog/categories/sass'>Sass (1)</a></li>
  <li><a href='/blog/categories/schedule'>Schedule (1)</a></li>
  <li><a href='/blog/categories/scrapy'>Scrapy (1)</a></li>
  <li><a href='/blog/categories/search-engine'>Search engine (4)</a></li>
  <li><a href='/blog/categories/server'>Server (1)</a></li>
  <li><a href='/blog/categories/socketio'>Socketio (4)</a></li>
  <li><a href='/blog/categories/solr'>Solr (1)</a></li>
  <li><a href='/blog/categories/sql'>Sql (1)</a></li>
  <li><a href='/blog/categories/sublime-text'>Sublime-text (2)</a></li>
  <li><a href='/blog/categories/theano'>Theano (1)</a></li>
  <li><a href='/blog/categories/ux'>Ux (1)</a></li>
  <li><a href='/blog/categories/vim'>Vim (2)</a></li>
  <li><a href='/blog/categories/webrtc'>Webrtc (1)</a></li>
  <li><a href='/blog/categories/zookeeper'>Zookeeper (1)</a></li>
</ul>
</section>
{% endif %}
